a {
    cursor: pointer;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
    cursor: pointer;
}
td.delete-control {
    background: url('../img/delete.png') no-repeat center center;
    cursor: pointer;
}
.pageTitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}
.childTableTitle {
    text-align: left;
    padding-left: 60px;
    font-size: small;
    font-weight: bold;
}
.addPallet {
    text-align: left;
    margin-bottom: 10px;
}

.loginFailure {
    text-align: center;
    color: #ff0000;
}
